<div class="locales-container">
    <header class="locales-header">
    <h1>Locales</h1>
    <button (click)="showForm = !showForm" *ngIf="localStorage.roles.id == 3">Añadir Local</button>
    </header>
    @if(localStorage.roles.id == 3){
      <div *ngIf="showForm">
        <form [formGroup]="formLocal" (submit)="createLocal()">
          
          <input type="text" placeholder="Nombre del negocio" name="nombre" required formControlName="nombre">
      
          <input type="text" placeholder="Ubicación" name="ubicacion" required formControlName="ubicacion">
          <input type="number" placeholder="telefono" name="telefono" required formControlName="telefono">
          <select id="representanteLegal" formControlName="representante">
            <option value="" disabled>Selecciona una responsable</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.name }}</option>
          </select>
          <select id="categoria" formControlName="categoria" (change)="onCategoriaChange()">
            <option value="" disabled>Selecciona una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</option>
          </select>
          <div *ngIf="selectedCategoria">
            <label for="subcategoria">Subcategoría:</label>
            <select id="subcategoria" formControlName="subcategoria">
              <option value="" disabled>Selecciona una subcategoría</option>
              <option *ngFor="let subcategoria of selectedCategoria.subcategories" [value]="subcategoria.id">
                {{ subcategoria.nombre }}
              </option>
            </select>
          </div>
          <select id="encargado" formControlName="encargado">
            <option value="" disabled>Selecciona una encargado</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.name }}</option>
          </select>
          <select id="status" formControlName="status">
            <option value="" disabled>Selecciona una estado</option>
            <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nombre }}</option>
          </select>

          
          <button type="submit" [disabled]="formLocal.invalid">Guardar Información</button>
        </form>
      </div>
      <br/>
    }

    <table class="locales-table">
      <thead>
        <tr>
          <th>Nombre de negocio</th>
          <th>Ubicación</th>
          <th>Teléfono</th>
          <th>Encargado</th>
          <th>Categoría</th>
          <th>Subcategoría</th>
          <th>Estados</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let local of locales">
          <td>{{ local.nombre }}</td>
          <td>{{ local.ubicacion }}</td>
          <td>{{ local.telefono }}</td>
          <td>{{ local.encargado.name }}</td>
          <td>{{ local.category.name }}</td>
          <td>{{ local.subcategory.nombre }}</td>
          <td>{{ local.estado.nombre }}</td>
          @if(localStorage.roles.id == 3){
            <td>
              <button (click)="editLocal(local)">✏️</button>
              <button (click)="deleteLocal(local)">🗑️</button>
            </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
  
