<div class="dashboard">
    <aside class="sidebar">
      <div class="logo">
        <img src="favicon.ico" alt="LocalAdmin">
      </div>
      <nav class="navigation">
        <a (click)="ir('dashboard')" class="nav-item">Inicio</a>
        <a (click)="ir('locales')" class="nav-item">Locales</a>
        <a (click)="ir('usuarios')" class="nav-item">Usuarios</a>
        <a (click)="ir('reporte')" class="nav-item">Reporte</a>
        <a (click)="logout()" class="nav-item logout">Cerrar Sesión</a>
      </nav>
    </aside>
    
      
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</div>
    
